/* Loading.css */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; 
    
}

.loading-container .bar-loader {
    margin-top: 50px;
}
